.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 50px;
    margin-right: 100px;
    cursor: pointer;
}
.navigationbar-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.icon-margin{
    margin-top: 5px;
    margin-right: 10px;
}
.logo{
    display: flex;
    justify-content: center;
}
.menu-area{
    display: flex;
    justify-content: center;
}
.menu-item{
    display: flex;
    list-style-type: none;
    margin-top: 20px;
}

.menu-item li{
    padding: 10px;
}
.search-area{
    margin-top: 20px;
    border-bottom: 1px solid black;
    position: absolute;
    right: 50px;
    padding: 5px;
}
.search-area input{
    border: none;
    margin-left: 5px;
}
.product-card{
    border: none !important;
    margin-bottom: 10px;
}
.product-card:hover{
    transform: scale(1.1);
    z-index: 1;
}
.product-img{
    display: flex;
    justify-content: flex-end;
}
.product-info{
    font-size: 20px;
    margin-bottom: 10px;
}
.conscious-choice{
    font-size:11px;
    color: #63786a;
    font-weight: bold;
    height: 20px;
}
.drop-down{
    margin-top:20px;
}
.add-button{
    margin-top:20px;
    width: 100%;
}
.hide{
    visibility: hidden;
}
.burger-menu{
    margin-left: 20px;
    margin-top: 10px;
  }
.mobile-menu{
    height: 0;
}
@media screen and (max-width: 63rem){
    .mobile-menu{
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: burlywood;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 2;
    }
    
    .mobile-menu-list button{
        margin: 5px;
        border: none;
        background: none;
        width: 120px;   
    }
    .mobile-menu .close-button{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        border: none;
        background:none;
        margin-left: 50px;

    }
    .mobile-menu-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login-button{
        display: none;
    }
    .search-area{
        display: none;
    }
    .menu-area{
        display: none;
    }
    .product-detail-row{
        flex-direction: column;
    }
    .product-detail-img{
        justify-content: center;
    }
    .product-info{
        margin-top:10px
    }
    .product-card-position{
        display: flex;
        justify-content: center;

    }
    .logo-mobile{
        margin-bottom: 20px;
    }
    .hide{
        visibility: visible;
    }
}